<h1>Listing wishes</h1>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Wishes list</div>
  <% if @wishes.blank? %>
    <br>
    <br>
    <h3><%= 'No wishes in your list'%></h3>
    <% else %>
      <div class="table-responsive">
        <!-- Table -->
        <table class="table table.responsive table-hover">
          <thead>
            <tr>
              <th>User</th>
              <th>Book</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>

            <% @wishes.each do |wish| %>
              <tr>
              <td><%= wish.user.name %></td>
              <td><%= wish.book.title %></td>
                <td>
                  <div class="btn-toolbar">
                    <!--<%= link_to "Show", wish, :class => "btn btn-success" %>
                    <%= link_to "Edit", edit_wish_path(wish), :class => "btn btn-warning" %>-->
                    <%=link_to 'Destroy', wish, :class=> "btn btn-primary btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
                  </div>
                </td>
              </tr>

          </tbody>

        </table>

      </div>
      <% end %>
        <%end%>

</div>

<br>
