<% content_for :title, "Library app - User list" %>
<h1>User List</h1>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">User list</div>
<div class="table-responsive">
  <!-- Table -->
  <table class="table table.responsive table-hover">
    <thead>
           <tr>
 
      <th>Name</th>
      <th>E-mail</th>
   
      <% if @current_user.role == 'admin'%>
        <th>Role</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
        </thead>
        <tbody>
          <% if @current_user.role == 'manager'%>
            <% @users.each do |user| %>
              <% if user.role == 'reader' %>
               <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                 <td>
                <div class="btn-toolbar">
                  <%= link_to "Show", user_path(user), :class => "btn btn-success" %>
                  <%= link_to "Edit", edit_user_path(user), :class => "btn btn-warning" %>
                   <%= link_to 'Destroy', user, :class => "btn btn-primary btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
                 
                </div>
              </td>
              </tr>
              <% end %>
              <% end %>
            <% else%>
             <% @users.each do |user| %>
               <tr>
                    <td><%= user.id %></td>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.role %></td>
                 <td>
                <div class="btn-toolbar">
                  <%= link_to "Show", user_path(user), :class => "btn btn-success" %>
                  <%= link_to "Edit", edit_user_path(user), :class => "btn btn-warning" %>
                   <%= link_to 'Destroy', user, :class => "btn btn-primary btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
                 
                </div>
              </td>
              </tr>
              <% end %>
               <% end %>
              
        </tbody>
    
  </table>
  </div>
</div>
<% if @current_user.role == 'admin' %>
  <br>

  <%= link_to 'New User', new_user_path, :class => "btn btn-primary btn-info" %>

  <br>
<% end %>