<h1>Listing logloans</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Book</th>
      <th>Physical</th>
      <th>Loandate</th>
      <th>Loanreturn</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @logloans.each do |logloan| %>
      <tr>
        <td><%= logloan.user %></td>
        <td><%= logloan.book %></td>
        <td><%= logloan.physical %></td>
        <td><%= logloan.loandate %></td>
        <td><%= logloan.loanreturn %></td>
        <td><%= link_to 'Show', logloan %></td>
        <td><%= link_to 'Edit', edit_logloan_path(logloan) %></td>
        <td><%= link_to 'Destroy', logloan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Logloan', new_logloan_path %>
