<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @loan.book %>
</p>

<p>
  <strong>User:</strong>
  <%= @loan.user %>
</p>

<p>
  <strong>Physical:</strong>
  <%= @loan.physical %>
</p>

<p>
  <strong>Loandate:</strong>
  <%= @loan.loandate %>
</p>

<p>
  <strong>Loanreturn:</strong>
  <%= @loan.loanreturn %>
</p>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
